/**********************
 
  1. default reset css
***********************/

/* 1-1. font */

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}

@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



/* 1-2. reset items */

*, html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button,header,nav,aside,footer,option,a,.header,.gnb, .login-box, .footer, .inner,.btn-box,input{margin:0; padding:0; font-size: 15px; box-sizing: border-box; box-sizing: -ms-border-box;  font-family: 'Noto Sans KR', 'MalgunGothic', 'sans-serif'; -webkit-font-size-adjust:none; font-weight: 300;}
body,h1,h2,h3,h4,input,button{color:#000;-webkit-font-size-adjust: 100%;}

h2{color: #333; font-weight: 600;}
.today ul li,
.container h3,
.container h4 { font-size: 15px; color: #333;}

  .container h3{font-size: 24px; font-weight: 500; margin: 20px 0;}

  

html{height:100vh;}
html,body{width:100%; margin:0 auto;}
body{background-color:#fff; word-break:break-all; -ms-word-break:break-all; font-family:'Calibri', 'MalgunGothic', 'sans-serif';text-align:left; }
img,fieldset,iframe{border:0 none}
li{list-style:none}
input,select,button{vertical-align:middle}
input,
select:focus-visible,
select{width: 150px; color: #333; padding: 5px; height: 35px; margin: 0 10px; outline: 0;}
textarea{border: 1px solid #adadad;}
i,em,address{font-style:normal;}
label,button{cursor:pointer}
button{margin:0;padding:0;border: 0;}
a, a:visited, a:hover, a:active{text-decoration: none; color: inherit; display: inline-block;}
a:hover{cursor: pointer;}
body{ -ms-overflow-style: none; }
::-webkit-scrollbar { display: none; }
.hr{width: 100%; margin: 0 auto; margin-top: 15px; margin-bottom: 25px; height: 1px; background: #0e3641;}

/* 1-3. definition of prefix */
.flex-center{display: flex; align-items: center; justify-content: center;}
.flex-start{display: flex; align-items: center; justify-content: flex-start;}
.flex-between{display: flex; align-items: center; justify-content: space-between;}
.flex-col-center{display: flex; align-items: center; justify-content: space-around; flex-direction: column;}
.flex-hoz-right{justify-content: flex-end !important;}
.flex-item{align-self: center;}
.align-start{align-items: flex-start;}


.inner{width: 100%; max-width: 900px; margin: 0 auto; position: relative;}
.display-on{display:block;}
.display-none{display:none;}
.visibility-none{visibility: hidden;}
.clear-both::after{content: ''; width:0; height: 0; display: block; visibility: hidden; clear: both; }

.section-wrap{background: #fff; padding: 30px; margin-bottom: 10px;}

.only-mobile{display: none;}

.width-10{width:10% !important; text-align: center;}
.width-16{width:16.666666666666666666666667% !important; text-align: center;}
.width-20{width:20% !important; text-align: center;}
.width-25{width:25% !important; text-align: center;}
.width-30{width:30% !important; text-align: center;}
.width-33{width:33.333333333333333333333333% !important; text-align: center;}
.width-40{width:40% !important; text-align: center;}
.width-50{width:50% !important; text-align: center;}
.width-60{width:60% !important; text-align: center;}
.width-70{width:70% !important; text-align: center;}
.width-80{width:80% !important; text-align: center;}

.margin-top-60{margin-top: 60px !important;}
.margin-right-auto{margin-right: auto;}


/*************************
 
  2. custom for project

**************************/

/* 2-1. custom color */
.theme-color-bg{background:#0cbc80 !important;}
.design{background: #fb92ae!important;}
.css{background: #17714c!important;}

.js{background: #ffc549!important;}
.jqeury{background: #ffa653!important;}
.react{background: #71bd5e!important;}
.nextjs{background: #388b85!important;}
.vuejs{background: #3fb27f!important;}
.svelt{background: #f73c00!important;}

.nodejs{background: #7fc728!important;}
.java{background: #fd946a!important;}
.spring{background: #66a8f5!important;}

.shell{background: #6a6a6a!important;}
.vyatta{background: #a02b32!important;}
.zabbix{background: #cd0000!important;}

.docker{background: #58b7ff!important;}
.kubernetes{background: #ff2727!important;}

.mysql{background: #ff9592!important;}
.mssql{background: #a8413e!important;}

.photoshop{background: #2189ff!important;}
.illustrator{background: #310000!important; color: #f79500!important;}
.drawing{background: #0e3641!important;}

/* 2-2. custom default tag */
.tag{color: #fff; font-size :12px; padding: 5px 8px; border-radius: 5px; display: inline-block; }
.label{background: #0cbc80; color: #fff; font-size: 9px; display: inline-block; padding: 2px 8px 4px 8px; border-radius: 8px; margin: 0 0 2px 5px ;}

/* 2-3. modal custom*/
.ui.modal>.actions{text-align: center;}
.tabulator .tabulator-footer .tabulator-page.active{background: #fff; color: #0cbc80;}


/*************************
 
   3. common components

**************************/

/* 3-1. layout */
.wrap{width: 100%; height: 100vh; position: relative;}
.page-wrap{width: 100%; background: #fff;}


/* 3-2. container */
.container-wrap{width: 100%; height: calc(100vh - 75px); position: absolute; top: 75px; overflow: auto;}
.container{width: 100%;}

/* 3-3. arccordion */
.arccordion{width: 100%;}
.arccordion.active{ height: 800px;}

  .arccordion .arccordion-header{width: 100%; padding: 10px 0;}
  .arccordion.active > .arccordion-header{border-bottom: 1px solid #eee;}
  
  .arccordion .arccordion-contents{width: 100%; padding: 30px 40px;display: none; overflow-y: auto;  }
  
  .arccordion.active .arccordion-contents{
    display: block;
    height: 760px!important; 
    border-bottom: 1px solid #eee;
    animation-name: arccordionopen;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
    
    @keyframes arccordionopen {
      from {
        height: 0;
      }
      to{
        height: 450px;
      }
    } 

/* 3-4. list table */
.list{width:100%; border-left: 1px solid #d3d3d3; border-right: 1px solid #d3d3d3;}
  .list .list-col,
  .list .list-item{width: 100%;}

  .list .list-col>ul,
  .list .list-item>ul{width:100%; display: flex; justify-content: stretch;}

  .list .list-col li,
  .list .list-item li{min-width: 100px; padding: 10px 0; height:40px;border-bottom:1px solid #d3d3d3; background: #f8f8f8; text-align: center; }

  .list .list-col li{ border-top: 1px solid #d3d3d3;}
  .list .list-item li{background: #fff; font-size: 13px;}

  .list .list-item li:first-child,
  .list .list-col li:first-child{border-left: 0;}
 

  .list .list-item li .btn{ padding: 15px 10px;font-size: 12px; background: #0cbc80; margin:0 auto; margin-top: -5px;}



  
/*************************
 
       4. main UI

**************************/
main{width: 100%;}
  main > div{width: 100%; height: calc(100vh - 75px);}

  /* HOME */
  main > .home{position: relative;  background: url('../img/home_bg.jpg') no-repeat 100%; opacity: 0.9; justify-content: center;}
  main > .home::before{content:''; display: block; position: absolute; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0;background: #000; opacity: 0.8; z-index: -1;}

    main > .home h2{font-size:100px;font-family: 'Kaushan Script', cursive; color: #fff; text-shadow: #000 5px 10px 2px; padding-bottom: 30px; margin-top: -130px;}
    main > .home p{font-size:20px; color: #fff;}

  /* PROFILE */
  /* main > .profile */
  .profile{width: 100%;}
    .profile .inner{height: 100%; padding: 20px 0; display: flex; justify-content: center; flex-direction: column;}
    .profile h2{font-size: 40px;}
    .profile article{width: 50%; height: 100%;}
    
    /* gallery */
    .profile .gallery-wrap{width: 100%; padding: 50px 0; display: flex; align-items: center; justify-content: center;}
    
    .profile .gallery-list{width: 100%; max-width: 580px; flex-wrap: wrap; margin: 0 auto;}
      .profile .gallery li{width: 20%; max-width: 116px; max-height: 116px;overflow: hidden;}
        .profile .gallery li a{width: 100%; height: 100%; overflow: hidden; display: flex;align-items: center; justify-content: center;}
          .profile .gallery li a img {width: 110%;} 
          .profile .gallery li a img.row-long{width: 210%;}

          .deem{position: fixed; width: 100%; height: 100vh; top: 0; left: 0; z-index: 99999999; display: none; align-items: center; justify-content: center;}
          .deem.active{display: flex;}
          .deem .img-wrap{width: 50%; display: flex; justify-content: space-between; align-items: center;}
            .deem .img-wrap img{width: calc(100% - 100px);}
            .deem .img-wrap button{width:45px;height: 45px; border: 0; border-radius: 50%; color: #fff; background: url(../../public/img/gallery_arrow.png) #4a4a4a no-repeat center / 100%; overflow: hidden; text-indent: -999999999999px;} 
            .deem .img-wrap button.before-btn{transform: rotate(180deg);} 


          .deem .deem-bg{width: 100%; height: 100%; background: #000; position: absolute; z-index: -1;} 
          
    /*profile-contents*/
    .profile .profile-contents{padding-left: 40px;}
      .profile .profile-contents h3{font-size: 30px; margin-top: 0; line-height: 1;}
        .profile .profile-contents h3 span{font-size: 20px;}

        .profile .profile-contents dl{width: 100%;}
          .profile .skills dl dt{font-size: 17px; font-weight: 700; padding: 0 0 5px 10px; position: relative; margin-top: 15px;}
            .profile .skills dl dt::before{content: ''; display: inline-block;width: 5px; height: 5px; background: #000; position: absolute; top: 50%; left: 0; margin-top: -2.5px;}
          .profile .skills dl dd{display: inline-block; font-size: 15px; margin: 0 10px 10px 0; background: #ffbfbf; color: #fff; padding: 2px 10px; border-radius: 15px;}
  
  /* PORTFOLIO */
  /* main > .portfolio */
  .portfolio{width: 100%;}
    .portfolio .inner{max-width: calc(100% - 300px); width: calc(100% - 300px); height:100%; padding: 0 100px;}
    .portfolio h2{width: 300px; height: 100%; padding-top:10px; text-align: center; font-size: 40px; background: #000;}


    .portfolio-list-wrap{width: 100% ; height: 100%;}
    .portfolio-list{width: 100%; height: 100%; gap: 10px; flex-wrap: wrap; justify-content: center; align-items: flex-start;}
      .portfolio-list li{width: 30%; height: 100%; box-shadow: 1px 3px 10px #adadad; padding: 5px;}
        .portfolio-list li a{width: 100%; height: calc(100% - 100px); min-height: 110px; max-height: 130px; overflow: hidden;}
          .portfolio-list li a img{width: 100%;}

        .portfolio-list li dl{width: 100%; height: 100%; padding: 10px 5px;}
          .portfolio-list li dl dt{font-weight: 600;width: 100%; height: 22px; overflow: hidden; text-overflow: ellipsis;white-space:nowrap;}
          .portfolio-list li dl dd:last-child{min-height: 50px;}
            .portfolio-list li dl dd .label:last-child{ margin-right: 0;}

          .portfolio-list li dl dd .label{margin: 0 3px 3px 0;}


        /* slide style settings*/
        .portfolio .slick-slider{height: 100%;} 
        .portfolio .slick-list{height: 100%; padding: 10px 0;}

  /* STUDDY */
  /* main > .study */
  .study{width: 100%; height: fit-content; padding: 100px 0;}
    .study .inner{height: 100%;justify-content: center;}

    .study h2{font-size: 40px; padding-bottom: 50px;}
      .study h3{position: relative; padding-left: 15px;}
      .study h3::before{content: ''; display: inline-block; position: absolute; top: 5%; left: 0; width: 5px; height: 90%; background:#949494;}
        .study .project{width: 100%; display: flex; align-items: flex-start; justify-content: space-between; padding-bottom: 50px; flex-wrap: wrap;}
          .study .project .spec{width: 50%;}
            .study .project .spec dl{width: 100%; display: flex; align-items: center; justify-content: flex-start; padding: 10px 0;}
            .study .project .spec dl:first-child{padding-top: 0;}
              .study .project .spec dl dt{width: 30%; font-size: 16px;}
              .study .project .spec dl dd{width: 70%; font-size: 16px;}
                .study .project .spec a{color: #58b7ff; text-decoration: underline;}
          
          .study .project .video-wrap{width: 50%; border: 1px solid #eee;}
            .study .project .video-wrap video{width: 100%;}


  /* SNS */
  /* main > .sns */
  .sns{width: 100%;}
    .sns .inner{height: 100%;justify-content: center;}

    .sns h2{font-size: 40px; padding-bottom: 50px;}
    .sns .sns-list{width: 100%; gap: 50px;}
      .sns .sns-list li{width: 70px; height: 70px;}
        
        .sns .sns-list li a{width: 100%; height: 100%; overflow: hidden; text-indent: -9999px; background: url(../../public/img/sns.png) no-repeat 0 0; background-size: 250px; border-radius: 15px; overflow: hidden;}
          .sns .sns-list li:nth-child(1) a{background-position: bottom -91px right -14px;}
          .sns .sns-list li:nth-child(2) a{background-position: bottom -91px right -87px;}
          .sns .sns-list li:nth-child(3) a{background-position: top -16px right -89px;}
          .sns .sns-list li:nth-child(4) a{background:url(../img/github_icon.png) no-repeat center/100%;}


  /* CONTACT */
  /* main > .contact */
  .contact{width: 100%;}
    .contact .inner{width: 100%; height: 100%; display: flex; justify-content: center; flex-direction: column; padding: 0 30px;}

    .contact h2{font-size: 40px; padding-bottom: 50px;}

    .contact article{width: 100%;}
      .contact dl{display: flex; align-items: center; justify-items: center; padding-bottom: 20px;}
        .contact dl dt{font-size: 20px; width: 200px;}
        .contact dl dd{font-size: 20px;}
      

@media (max-width: 1200px){
 /* PORTFOLIO */
  /* main > .portfolio */
  .portfolio{width: 100%;flex-direction: column;}
    .portfolio .inner{max-width: 100%; width:100%; height:100%; padding: 20px;}
    
    .portfolio h2{width: 100%; height: 100px; text-align: left;padding:20px; color: #ffe934;}
    .portfolio .portfolio-list{width: 100%; height: calc(100% - 100px);}
    .portfolio .portfolio-list li{width: calc(32% - 3.33333333px);;}
}

@media (max-width: 900px){
  /* COMMON */
  main > div h2{font-size: 35px;}

  /* PROFILE */
  /* main > .profile */
  .profile{width: 100%;}
    .profile .inner{padding: 20px;}
    .profile .gallery li a img {width: 130%;}
    .profile .gallery li a img.row-long {width: 230%;}

  /* STUDDY */
  /* main > .study */
  .study .inner{padding:0 20px;}
    .study h2{font-size: 35px;}
    .study h3{font-size: 19px;}
    
    .study .project{flex-direction: column-reverse;}
      .study .project .spec{width: 100%;}
        .study .project .spec dl{padding:5px 0;}
        .study .project .spec dl:first-child{padding-top: 20px;}

          .study .project .spec dl dt{width: 25%; font-size: 14px;}
          .study .project .spec dl dd{width: 75%; font-size: 14px;}

      .study .project .video-wrap{width: 100%;}

  /* CONTACT */
  /* main > .contact */
  .contact h2{font-size: 35px;}
}

@media (max-width: 800px){
  /* PORTFOLIO */
  /* main > .portfolio */
  .portfolio{height: 100%;}
    .portfolio .inner{padding: 10px; height: unset;}
    .portfolio h2{font-size: 35px;}
    .portfolio .portfolio-list{width: 100%; height: calc(100% - 100px);}
      .portfolio .portfolio-list li{width: 45%;}
}

@media (max-width: 768px){
  /* COMMON */
  main > div{width: 90%; max-width: 580px; height: auto; margin: 0 auto;}
  main > div h2{font-size: 30px;}

  
   /* HOME */
   main > .home{width: 100%; max-width: 100%; height: 100vh; padding: 0 10px;}
    main > .home h2{font-size:50px;}
    main > .home p{font-size: 14px;}

  /* PROFILE */
  /* main > .profile */
  .profile{width: 100%; max-width: 580px; margin: 0 auto;}
  .profile .inner{height: fit-content;}

  .profile h2{font-size: 25px;}
  .profile article{width: 100%;}
    .profile .profile-contents{padding: 0;}
    
      .profile .skills{padding-bottom: 50px;}
    
      .profile .gallery-wrap{flex-direction: column-reverse; padding-top: 20px;}
        .profile .gallery li a img {width: 100%;}

  /* PORTFOLIO */
  /* main > .portfolio */
  .portfolio-list li a{height: 110px; min-height: unset; max-height: unset; display: flex; align-items: center; justify-content: center;}
    .portfolio-list li a img{width: 200%;}

  .portfolio-list li dl dd:nth-child(2){font-size: 13px;}
    .portfolio-list li dl dd:nth-child(2) span{font-size: 14px; font-weight: 500; color: #353535;}

  /* SNS */
  /* main > .sns */
  .sns{height: 50vh;}

  /* CONTACT */
  /* main > .contact */
  .contact{height: 50vh;}
    .contact .inner{padding: 0 20px;}
}

@media (max-width: 425px){
  /* PROFILE */
  /* main > .profile */
  .profile .gallery li{max-height: 80px;}
    .portfolio-list li a{height: 110px;}
      .profile .gallery li a img{width: 120%;}

  
  /* PORTFOLIO */
  /* main > .portfolio */
  .portfolio-list li dl dd:last-child{min-height: 78px;}

  /* STUDY */
  /* main > .study */
  .study{padding: 50px 10px;}
    .study h3{word-break:keep-all;-ms-word-break:keep-all;}

    .study .project{flex-direction: column-reverse;}
    .study .project > *{width: 100% !important;}
      .study .project .spec{padding: 20px 0 0 20px;}

  /* SNS */
  /* main > .sns */
  .sns {height: 100vh;}
    .sns .sns-list{flex-wrap: wrap;}
      .sns article{width: 82%; padding: 0 20px;}
        .sns article ul{width: 100%;}


  /* CONTACT */
  /* main > .contact */
  .contact {height: 100vh;}
    .contact dl dt{width: 130px; font-size: 17px;}
    .contact dl dd{font-size: 17px;}
}

@media (max-width: 375px){
  /* PORTFOLIO */
  /* main > .portfolio */
  .portfolio-list li dl dd:nth-child(2) span{display: none;}

}

@media (max-width: 320px){
   /* STUDDY */
  /* main > .study */
  .study .project .spec dl{flex-direction: column; align-items: flex-start;}
    .study .project .spec dl dt{font-size: 14px; font-weight: 500; position: relative; padding-left: 7px; width: 100%;} 
      .study .project .spec dl dt::before{content: ''; position: absolute; top: 5%; left: 0; width: 3px; height: 90%; background: #aeaeae;}
    .study .project .spec dl dd{width: 100%; font-size: 14px; padding-top: 5px;}
    
  /* CONTACT */
  /* main > .contact */
  .contact dl dt{width: 110px; font-size: 15px;}
  .contact dl dd{font-size: 15px;}
}




