/**************************
 
    resource for project

***************************/

/* font */

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* custom color */
:root {
    --default-bg-color: #0C0C0C;
    --default-wrap-bg-color: #1a1a1a;
    --theme-color : #0CBA7F;

    --num-font-medium: 'GmarketSansMedium';
    --num-font-light: 'GmarketSansLight';
  }
  .theme-color{color:#15b600;}
  .theme-color-bg:hover,
  .theme-color-bg{background:#15b600; color: #fff;}
  .gray-bg{background:#b4b4b4; color: #fff;}
  .white-color-bg{background: #fff; color: #272727 !important; border: 1px solid #272727 !important;}

  .red-bg{background: #E94C48!important;}
  .yellow-bg{background:  #FECF3E!important;}
  .green-bg{background: #32BC5F!important;}
  
  .on-bg{background: #32BC5F!important;}
  .off-bg{background: #424242!important;}
  
  .increase{color: #ff302c!important;}
  .decrease{color: #246cca!important;}
  .increase-bg{background: #ff302c!important;}
  .decrease-bg{background: #246cca!important;}
  
  .good-bg{background:#0cbc80 !important;}
  .soso-bg{background: #ffd11b !important;}
  .bad-bg{background:#ff2a5c !important;}

  .good-color{color:#0cbc80 !important;}
  .soso-color{color: #ffd11b !important;}
  .bad-color{color:#ff2a5c !important;}
  
  /* 2-2. custom default btn */
  .btn{display: block; line-height: 0; padding: 20px; text-align:center; transition: all 300ms ease; color: #FFF; font-family: "Roboto", sans-serif; border: 0; border-radius: 5px;}
  .round{padding: 12px 25px; background:#4b4b4b; border-radius: 15px; font-size: 14px; font-weight: 600;}
  .confirm{padding: 15px 10px; background:#4b4b4b; font-size: 12px; border-radius: 5px;}
  
  .option{justify-content: space-between; padding: 0 15px;}
    .option select{margin: 0 5px;}
    .option .btn{margin: 0 5px; background: #217085;}
  
  .btn-group{justify-content: right;}
    .btn-group .btn{width: 100px; margin: 5px;}
  
  
  /* 2-2. custom default tag */
  .tag{color: #fff; font-size :12px; padding: 5px 8px; border-radius: 5px; display: inline-block; }
  
  
  /* 2-4. custom candle chart */
  .hoz-candle-chart {display: flex; justify-content: space-between; align-items: center; margin: 10px 0;background: none; height: 40px;}
    .hoz-candle-chart h5{width: 30%;}
      .hoz-candle-chart div{width: 65%; height: 50%; background: #353535;position: relative;}
      .hoz-candle-chart div .value{display: inline-block; height: 100%; background: #1374EE; position: absolute;}
  
  /* 2-5. tabulator custom*/
  .tabulator{border:0;}
  
  .tabulator .tabulator-header .tabulator-col.tabulator-sortable:hover,
  .tabulator .tabulator-header,
  .tabulator .tabulator-header .tabulator-colxss,
  .tabulator .tabulator-header .tabulator-col,
  .tabulator-row .tabulator-cell{ background: var( --default-wrap-bg-color ); border:0; color: #919191; padding :5px 0;}
  
  .tabulator-row .tabulator-cell{padding :10px 0;}
  
  .tabulator .tabulator-tableHolder .tabulator-table,
  .tabulator-row,
  .tabulator{background: var( --default-wrap-bg-color );}
  
  .tabulator .tabulator-header::after{content: ''; display: block; width: 95%; position: absolute; bottom: 0; height: 1px; left: 50%; background: #4e4f52; margin-left: -47.5%;}
  
  .tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort=none] .tabulator-col-content .tabulator-col-sorter{margin-right: 10px;}
  
  .tabulator .tabulator-header .tabulator-col.tabulator-col-group .tabulator-col-group-cols{border-top: 1px solid #7c7d7e;}


/* Custom Scroll Bars */
.ScrollbarsCustom-TrackY,
.ScrollbarsCustom-TrackX{background : #757575 !important;}
.ScrollbarsCustom-ThumbY,
.ScrollbarsCustom-ThumbX{background: #414141 !important;}


